---
title_localized:
  en: Boutique Hotels NYC | About the Royalton Flatiron Hotel in New York
label_localized:
  en: 
layout_localized:
  en: default
permalink_localized:
  en: "/about/"
meta_description_localized:
  en: Royalton Flatiron Hotel
meta_keywords_localized:
  en: 
published_localized:
  en: true
include_in_nav_localized:
  en: true

---

<div class="page-banner" style="background-image: url('/assets/images/about/lobby-royalton.jpg');">
	<div class="banner-overlay"></div>
     <h1>About <br>Us</h1>
</div>

<section class="welcome-royalton top-space">
	<div class="wrapper border-left">   
	      <div class="hero-images">
	        <div class="image-box">
	          <div class="img-caption">
	             <p class="caption-90">The Royalton Lobby &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
	          </div>
		      <div class="img-6 pl-md-0 pr-xs-0">
		         <figure>
		         	<img src="/assets/images/about/resting.jpg" alt="lobby in royalton" class="img-fluid">
		         </figure>
		      </div>
		      <div class="img-4 pr-md-0">
		         <figure>
		         	<img src="/assets/images/about/lobby.jpg" alt="royalton hotel lobby" class="img-fluid">
		         </figure>
		      </div>
		    </div> 
	     </div> 
	</div>
	<div class="wrapper">
		<div class="divider"> 
		          <div class="horizontal-row">
		               <div class="left-gap"></div> 
			           <div class="h-separator p-0">
			           	 <hr>
			           </div>
			      </div>   
		</div>
	</div>
	<div class="wrapper top-space">
         <div class="left-caption">
           <h4 class="sr-no">About</h4>
           <h4 class="text-uppercase">Welcome to <br>Royalton Flatiron<br>Hotel</h4>
         </div>
         <div class="details-5"> 
		             <h2>Duis aute irure dolor in<br>reprehenderit</h2>
		             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
		</div>
		<div class="btn-col-3 bottom-padding align-self-center"> 
		    <a href="{{site.pagelink.contact}}" class="align-middle btn-outline-black ml-md-5 ml-lg-0" title="Contact us">Contact Us</a>    
        </div>
	</div>
	 
</section>

<section class="rotate-left-banner d-flex" style="background-image: url('/assets/images/about/gym.jpg');">
    <p class="title">
    	Fitness
    </p>
    <div class="banner-detail m-auto">
      <h2>Royalton Gym</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. exercitation ullamco laboris nisi ut aliquip ex ea commodo.<!-- <u>Open 24 hours.</u> --></p>
    </div>
</section>

{% include exclusive-offers.html %}

<section class="cta-overlay bg-cover" style="background-image:url(/assets/images/about/penthouse-royal.jpg); background-attachment:fixed;">
       <div class="bg-overlay"></div> 
		<div class="logo-holder"> <img src="/assets/images/royalton-logo-white.png" alt="Royalton Flatiron"> </div>
		<div class="btn-holder"><a href="{{site.reztripUrl}}" class="btn-outline">Be a part of it</a></div>
	    <div class="cta-text"><a href="https://royaltonhotel.reztrip.com">Book Now</a></div>
		 
	
</section>
{% include footer-map.html%}