---
title_localized:
  en: Contact Us | The Royalton Hotel in New York City
label_localized:
  en:
layout_localized:
  en: default
permalink_localized:
  en: "/contact/"
meta_description_localized:
  en: Get in touch with the Royalton Hotel at 44 West 44th Street, New York, NY 10036,
    call us on +1 212 317 2900 or contact us direct through our website.
meta_keywords_localized:
  en:
published_localized:
  en: true
include_in_nav_localized:
  en: true

---

<section class="sub-header">
  <div class="sub-header-row">
    <div class="sub-header-left">
      <h1>Get in<br>touch</h1>
    </div>
    <!--div class="sub-header-right">
      <ul class="sub-header-nav">

        <li>
          <a href="{{site.pagelink.location}}">
            <h4 class="text-uppercase">Our<br>Location</h4>
          </a>
        </li>
      </ul>
    </div-->
  </div>
</section>
<div class="page-banner" style="background-image: url('/assets/images/contact/contact-banner.jpg');">
</div>
<section class="contact-section">
  <div class="contact-row">
    <div class="contact-directions">
      <div class="details-container">
        <h4>royalton park avenue</h4>
        <a href="{{site.maplink}}" target="_blank"> <i class="fa fa-map-marker" aria-hidden="true"></i> 420 Park Avenue South (at 29th Street), <br> New York, NY 10016</a>
        <br>

        <a href="tel:+1 212 317 2900"> <i class="fa fa-phone" aria-hidden="true"></i> +1 212 317 2900</a>
        <div class="social">
          {% if site.data.social.facebook.username %}
          <a href="https://facebook.com/{{ site.data.social.facebook.username }}" target="_blank" role="link" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          {% endif %}
          {% if site.data.social.twitter.username %}
          <a href="https://twitter.com/{{ site.data.social.twitter.username }}" target="_blank" role="link" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          {% endif %}
        </div>
        <hr>
        <!-- <h4>From Lorem ipsum dolor sit amet</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in.</p>
        <h4>From Lorem ipsum dolor sit amet</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in.</p> -->
      </div>
    </div>

    <div class="rotate-left-banner d-flex contact-form pt-4 ">

      <p class="title">
        Contact
      </p>
      <div class="banner-detail m-auto">

         <form class="jotform-form" action="https://submit.jotform.me/submit/72781612869468/" method="post" name="form_72781612869468" id="72781612869468" accept-charset="utf-8">
          <input type="hidden" name="formID" value="72781612869468">
          <h4>Contact Form</h4>
          <div class="form-group">

            <input aria-label="Name" type="text" class="form-control"  id="input_1" name="q1_name"   id="formGroupExampleInput" placeholder="Name">
          </div>
          <div class="form-group">

            <input aria-label="email" type="email" class="form-control" name="q3_email"  placeholder="Email Address">
          </div>



          <div class="contact-field-row">
            <div class="contact-field-one-col">

              <textarea aria-label="your Message" class="message-box form-control" id="input_9"  name="q9_yourMessage"  placeholder="Your Message"></textarea>

            </div>
          </div>

          <button type="submit" id="input_2" title="submit" class="red-btn">SUBMIT  <i class="fa fa-long-arrow-right" aria-hidden="true"></i> </button>
        </form>
         <script type="text/javascript">
          JotForm.ownerView = true;
        </script>
      </div>
    </div>
  </div>
</section>
<section class="dining-gallery top-padding bottom-padding">
    <div class="wrapper">
                   <h2 class="text-center m-auto">Take A Visual Tour</h2>
    </div>
    <div class="wrapper">
                  <div class="snap-gallery-nav">
              <span class="eligant-icons control-arrow owl-arrow-prev" aria-hidden="true">#</span>
              <span class="eligant-icons control-arrow owl-arrow-next" aria-hidden="true">$</span>
            </div>
    </div>
    <div class="wrapper">
            <div class="container-fluid p-0">
                  <div id="snap-carousel" class="owl-carousel owl-theme pt-md-2">
                     {% assign galleries = site.data._models.gallery | where: "category", "rooms" %}
                     {% for gallery in galleries %}
                      <div class="item" data-src="{{ gallery.gallery_image.url }}" data-sub-html="{{ gallery.image_caption }}" style="background-image: url('{{ gallery.gallery_image.url }}')">
                           <div class="org-overlay">
                               <a href="{{ gallery.gallery_image.url }}" class="enlarger align-self-center" data-src="{{ gallery.gallery_image.url }}" data-sub-html="{{ gallery.image_caption }}"><img src="/assets/images/plus.png" alt="Zoom In"/></a>
                            </div>
                      </div>
                      {%endfor%}
                   </div>
            </div>
    </div>
    <div class="wrapper mt-4 ">
                <div class="btn-holder text-center"><a href="{{site.pagelink.gallery}}" title="View Gallery" class="btn-outline-black">View Gallery</a></div>

  </div>
</section>
<section class="cta bg-cover" style="background-image:url(/assets/images/contact/contact-cta.jpg); background-attachment:fixed;">
  <div class="bg-overlay"></div>
  <div class="logo-holder"><a href="/"><img src="/assets/images/logo.png" alt="Royalton Park Avenue"></a></div>
  <div class="btn-holder"><a href="#" class="btn-outline">Be a part of it</a></div>
  <div class="cta-text"><a href="#">Book Now</a></div>
</section>
