---
title_localized:
  en: Exhale Fitness + Spa | Royalton Park Avenue Hotel in New York
label_localized:
  en: 
layout_localized:
  en: default
permalink_localized:
  en: "/exhale-fitness-spa/"
meta_description_localized:
  en: Be in contact with Royalton Hotel at 420 Park Avenue South, New York, NY 10016,
    call us on +1 212 869 4400 or contact us direct through our website.
meta_keywords_localized:
  en: 
published_localized:
  en: true
include_in_nav_localized:
  en: true
label: Exhale Fitness + Spa

---

<section class="sub-header">
  <div class="sub-header-row">
    <div class="sub-header-left">
      {% regionblock exhale_banner_title, type:header %}
      <h1>exhale<br>fitness + spa</h1>
      {% endregionblock %}
    </div>
    <!--div class="sub-header-right">
      <ul class="sub-header-nav">

        <li>
          <a href="{{site.pagelink.location}}">
            <h4 class="text-uppercase">Our<br>Location</h4>
          </a>
        </li>
      </ul>
    </div-->
  </div>
</section>
<div class="page-banner" style="background-image: url('/assets/images/fitness/fitness-banner.jpg');">
</div>
<section class="contact-section">
  <div class="contact-row">
    <div class="contact-directions">
      <div class="details-container">
        {% regionblock exhale_content_title, type:header %}
        <h4>royalton park avenue</h4>
        {% endregionblock %}
        {% regionblock exhale_content_address, type:header %}
        <p>Our philosophy is simple: exhale is here to help you be well. Since 2003, through a balanced combination of results-oriented spa therapies (massages, facials, acupuncture, nails, waxing) and high-quality fitness classes (barre, cardio, yoga, HIIT), we’ve provided the answer to a stronger, healthier, better version of you.</p>
        <p> Enter one of our 24 inspiring, yet relaxing locations and follow your breath, which both invigorates and calms, connecting mind and body — paving the way to positive change.</p>
     {% endregionblock %}
        <!-- <div class="social">
          {% if site.data.social.facebook.username %}
          <a href="https://facebook.com/{{ site.data.social.facebook.username }}" target="_blank" role="link" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          {% endif %}
          {% if site.data.social.twitter.username %}
          <a href="https://twitter.com/{{ site.data.social.twitter.username }}" target="_blank" role="link" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          {% endif %}
        </div>-->
       
        <!-- <h4>From Lorem ipsum dolor sit amet</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in.</p>
        <h4>From Lorem ipsum dolor sit amet</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in.</p> -->
        <a href="http://clients.mindbodyonline.com/ws.asp?studioid=-30&stype=-16&sView=week&sLoc=6" class="btn-outline" target="_blank">BOOK A FITNESS CLASS</a>
        <a href="http://clients.mindbodyonline.com/ws.asp?studioid=-30&stype=-9" class="btn-outline" target="_blank">BOOK A SPA THERAPY</a>
      </div>
      
    </div>
  </div>
</section>
<section class="dining-gallery top-padding bottom-padding">
    <div class="wrapper">
      {% regionblock exhale_visual_title, type:header %}
                   <h2 class="text-center m-auto">Take A Visual Tour</h2>
                   {% endregionblock %}
    </div>
    <div class="wrapper">
                  <div class="snap-gallery-nav">
              <span class="eligant-icons control-arrow owl-arrow-prev" aria-hidden="true">#</span>
              <span class="eligant-icons control-arrow owl-arrow-next" aria-hidden="true">$</span>
            </div>
    </div>
    <div class="wrapper">
            <div class="container-fluid p-0">
                  <div id="snap-carousel" class="owl-carousel owl-theme pt-md-2">
                     {% for photo in site.data._galleries.exhale.photos %}
                      <div class="item" data-src="{{ photo.url_large }}" data-sub-html="{{ gallery.image_caption }}" style="background-image: url('{{ photo.url_medium }}')">
                           <div class="org-overlay">
                               <a href="{{ photo.url_large }}" class="enlarger align-self-center" data-src="{{ photo.url_large }}" data-sub-html="{{ gallery.image_caption }}"><img src="/assets/images/plus.png" alt="Zoom In"/></a>
                            </div>
                      </div>
                      {% endfor %}
                  </div>
            </div>
    </div>
    <div class="wrapper mt-4 ">
                <div class="btn-holder text-center"><a href="{{site.pagelink.gallery}}" title="View Gallery" class="btn-outline-black">View Gallery</a></div>

  </div>
</section>
<!-- <section class="cta bg-cover" style="background-image:url(/assets/images/fitness/fitness-cta.jpg); background-attachment:fixed;">
  <div class="bg-overlay"></div>
  <div class="logo-holder">
      <a href="/">
        {% regionblock exhale_cta_logo, type:image %}
        <img src="/assets/images/logo.png" alt="Royalton Park Avenue">
        {% endregionblock %} 
      </a>
    </div>
    <div class="btn-holder">
      {% regionblock exhale_cta_btn_1, type:text %}
      <a href="{{site.reztripUrl}}" class="btn-outline">Be a part of it</a>
      {% endregionblock %}
    </div>
      <div class="cta-text">
        {% regionblock exhale_cta_btn_2, type:text %}
        <a href="https://royaltonparkavenue.reztrip.com">Book Now</a>
        {% endregionblock %}
      </div>
</section>-->
