---
title_localized:
  en: Boutique NYC Hotel Photos | Royalton Park Avenue Gallery
label_localized:
  en: 
layout_localized:
  en: default
permalink_localized:
  en: "/gallery/"
meta_description_localized:
  en: Enjoy a virtual tour of the stunning Royalton Hotel in midtown Manhattan. View the boutique rooms and suites or take a look at some of NYC’s many attractions!
meta_keywords_localized:
  en: 
published_localized:
  en: true
include_in_nav_localized:
  en: true

--- 
{% assign photos = site.data._galleries.gallery.photos %}
<section class="sub-header">
  <div class="sub-header-row">
    <div class="sub-header-left">
      {% regionblock gallery_banner_title, type:header %}
      <h1>Image<br>Gallery</h1>
      {% endregionblock %}
    </div>
  </div>
</section>
<div class="sub-header-decoration"></div>
<section class="gallery-wrapper"> 
 <div class="gallery-listing">
      <div class="container">
        <ul class="sub-nav">
            <li><a href="javascript:;" class="filter active" data-filter="all" data-rel="all">ALL</a></li>
            <li><a href="javascript:;" class="filter" data-rel="eat_drink">Eat & Drink</a></li>
            <li><a href="javascript:;" class="filter" data-rel="hotel">Hotel</a></li>
            <li><a href="javascript:;" class="filter" data-rel="location">Loaction</a></li>
            <li><a href="javascript:;" class="filter" data-rel="rooms_suites">Rooms & Suites</a></li>
        </ul>
      </div>
      <div class="container no-padding gallery-wrap" id="lightgallery">
        <div class="card-columns">
          {% for photo in site.data._galleries.eat_drink.photos %}
                <div class="card item fancybox" data-filter="eat_drink" data-src="{% if photo.url_large %}{{ photo.url_large }}{% else %}{{ photo.url }}{% endif %}" data-exthumbimage="{% if photo.url_medium %}{{ photo.url_medium }}{% else %}{{ photo.url }}{% endif %}" >
                    <img src="{% if photo.url_medium %}{{ photo.url_medium }}{% else %}{{ photo.url }}{% endif %}" alt="{{photo.description}}" class="img-fluid" />
                    <div class="overlay">
                      <div class="zoom-in"><img src="/assets/images/plus.png" alt="Zoom In"/></div>
                      <div class="img-title">
                        <hr>
                        <h4>{{photo.tags | replace: 'gallery' | replace: ',','' | replace:' ',''}}</h4>
                        <h2>{{ photo.description }}</h2>
                      </div>
                    </div>
                </div>
          {% endfor %}
          {% for photo in site.data._galleries.hotel.photos %}
                <div class="card item fancybox" data-filter="hotel" data-src="{% if photo.url_large %}{{ photo.url_large }}{% else %}{{ photo.url }}{% endif %}" data-exthumbimage="{% if photo.url_medium %}{{ photo.url_medium }}{% else %}{{ photo.url }}{% endif %}" >
                    <img src="{% if photo.url_medium %}{{ photo.url_medium }}{% else %}{{ photo.url }}{% endif %}" alt="{{photo.description}}" class="img-fluid" />
                    <div class="overlay">
                      <div class="zoom-in"><img src="/assets/images/plus.png" alt="Zoom In"/></div>
                      <div class="img-title">
                        <hr>
                        <h4>{{photo.tags | replace: 'gallery' | replace: ',','' | replace:' ',''}}</h4>
                        <h2>{{ photo.description }}</h2>
                      </div>
                    </div>
                </div>
          {% endfor %}
          {% for photo in site.data._galleries.location.photos %}
                <div class="card item fancybox" data-filter="location" data-src="{% if photo.url_large %}{{ photo.url_large }}{% else %}{{ photo.url }}{% endif %}" data-exthumbimage="{% if photo.url_medium %}{{ photo.url_medium }}{% else %}{{ photo.url }}{% endif %}" >
                    <img src="{% if photo.url_medium %}{{ photo.url_medium }}{% else %}{{ photo.url }}{% endif %}" alt="{{photo.description}}" class="img-fluid" />
                    <div class="overlay">
                      <div class="zoom-in"><img src="/assets/images/plus.png" alt="Zoom In"/></div>
                      <div class="img-title">
                        <hr>
                        <h4>{{photo.tags | replace: 'gallery' | replace: ',','' | replace:' ',''}}</h4>
                        <h2>{{ photo.description }}</h2>
                      </div>
                    </div>
                </div>
          {% endfor %}
          {% for photo in site.data._galleries.rooms_suites.photos %}
                <div class="card item fancybox" data-filter="rooms_suites" data-src="{% if photo.url_large %}{{ photo.url_large }}{% else %}{{ photo.url }}{% endif %}" data-exthumbimage="{% if photo.url_medium %}{{ photo.url_medium }}{% else %}{{ photo.url }}{% endif %}" >
                    <img src="{% if photo.url_medium %}{{ photo.url_medium }}{% else %}{{ photo.url }}{% endif %}" alt="{{photo.description}}" class="img-fluid" />
                    <div class="overlay">
                      <div class="zoom-in"><img src="/assets/images/plus.png" alt="Zoom In"/></div>
                      <div class="img-title">
                        <hr>
                        <h4>{{photo.tags | replace: 'gallery' | replace: ',','' | replace:' ',''}}</h4>
                        <h2>{{ photo.description }}</h2>
                      </div>
                    </div>
                </div>
          {% endfor %}

        </div>
      </div>
    </div>
</section>