---
title_localized:
  en: Midtown Manhattan Hotels | Royalton Park Avenue Location
label_localized:
  en: 
layout_localized:
  en: default
permalink_localized:
  en: "/location/"
meta_description_localized:
  en: Situated in the heart of Midtown Manhattan, the boutique Royalton Park Avenue
    is just footsteps from Central Park, Times Square & many more NYC attractions!
meta_keywords_localized:
  en: 
published_localized:
  en: true
include_in_nav_localized:
  en: true
label: Location

---

<section class="sub-header">
  <div class="sub-header-row">
    <div class="sub-header-left">
      <h1>Our <br>Location</h1>
    </div>
  </div>
</section>

<section class="our-location bottom-padding">
  <div class="wrapper">
    <div class="detail-5 top-space">
      <div class="details">
        <h4>royalton Park Avenue</h4>
        <p><a href="https://goo.gl/maps/p7Ufh4JKE5P2" target="_blank"><i class="fa fa-map-marker" aria-hidden="true"></i>
          50 East 29th Street<br>(at Park Avenue)<br>New York, NY 10016</a>
          <br><a href="tel:+1 212 317 2900"> <i class="fa fa-phone" aria-hidden="true"></i> +1 212 317 2900</a></p>

        <p class="pt-1"><a href="https://goo.gl/maps/zAByAFxchTA2" target="_blank" class="link-text">Get Directions</a></p>

        <figure>
          <img src="/assets/images/script.png" alt="sign" class="img-fluid top-padding pr-md-5">
        </figure>
      </div>
    </div>
    <div class="detail-7 p-0">
      <div id="map"></div>
    </div>
  </div>
  <div class="wrapper top-padding">
    <div class="detail-6 p-0">
      <div class="border-left  img-holder">
        <figure><img src="/assets/images/location/royalton-main.jpg" alt="Royalton Hotel" class="img-fluid"></figure>
      </div>
      <div class="img-caption">
        <p>Cityscape views and open air</p>
      </div>
    </div>
    <div class="detail-6 p-0 text-center">
      <div class="about text-left">
        <h4 class="text-center">in the heart of NOMAD</h4>
        <p>If New York is the center of the world, the Royalton Park Avenue is its epicenter. Just steps from the electrifying Times Square, the buzzing Theater District, and the iconic Rockefeller Center the Royalton Park Avenue truly is located in the center of the country's most influential happenings.</p>
      </div>
      <figure>
        <img src="/assets/images/location/midtown.png" alt="Midtown" class="m-auto img-fluid">
      </figure>
    </div>
  </div>
</section>

<section class="attractions top-space">
  <div class="wrapper">
    <div class="col-md-12">
      <h2> Attractions</h2>
       {% assign attractions = site.data._models.attractions | sort: 'order' %}
      <!-- Tab links -->
      <ul class="sub-nav mt-3 nav" role="tablist">
       {% for attraction in attractions%}
         <li class="nav-item"><a data-toggle="tab" class="nav-link {% if forloop.first%}active{% endif%}" data-target="#{{attraction.title | replace: ' ', '_'}}" href="" role="tab">{{attraction.title}}</a></li>
       {% endfor %} 
      </ul> 
      <!-- Tab panes -->
      <div class="tab-content pb-4">
         {% for attraction in attractions %}
          <div class="tab-pane fade show {% if forloop.first%}active{% endif%}" id="{{attraction.title | replace: ' ', '_'}}" role="tabpanel">
            {{attraction.description}}
          </div>
         {% endfor %}
         
      </div>

    </div>
  </div>
</section>

<section class="welcome-royalton">
  <div class="wrapper">
    <div class="photos-slider d-flex justify-content-between">

      <div id="photosSlider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active" style="background-image: url('/assets/images/location/midtown.jpg');">
          </div>
        </div>
        <!-- <a class="carousel-control-prev" href="#" data-target="#photosSlider" role="button" data-slide="prev">
                 <span class="eligant-icons control-arrow" aria-hidden="true">#</span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#" data-target="#photosSlider" role="button" data-slide="next">
                  <span class="eligant-icons control-arrow" aria-hidden="true">$</span>
                  <span class="sr-only">Next</span>
                </a> -->
      </div>

      <div class="photo-r-caption">
        <p class="caption-90">Midtown, New York City</p>
      </div>

    </div>
  </div>
</section>

{% include exclusive-offers.html %}

<section class="cta bg-cover" style="background-image:url(/assets/images/location/city.jpg); background-attachment:fixed;">
  <div class="bg-overlay"></div>
  <div class="logo-holder"><a href="/"><img src="/assets/images/logo.png" alt="Royalton Park Avenue"></a></div>
  <div class="btn-holder"><a href="{{site.reztripUrl}}" class="btn-outline">Be a part of it</a></div><!--{{site.reztrip}}-->
  <div class="cta-text"><a href="{{site.reztripUrl}}">Book Now</a></div>
</section>
