---
title_localized:
  en: Boutique Hotels NYC | Royalton Park Avenue Hotel in New York
label_localized:
  en: 
layout_localized:
  en: default
permalink_localized:
  en: "/offers/"
meta_description_localized:
  en: Royalton Park Avenue Hotel
meta_keywords_localized:
  en: 
published_localized:
  en: true
include_in_nav_localized:
  en: true

---

<div class="page-banner page-banner-type-two" style="background-image: url('/assets/images/offers/offers-banner.jpg');">
  <div class="banner-overlay"></div>
  <h1>Special <br>
    Offers</h1>
</div>

<section rt3-special-rates= "offers">

  <!--<section class="sub-header">
  <div class="sub-header-row">
    <div class="sub-header-left">
      <h1>Special<br>Offers</h1>
    </div>
     <div class="sub-header-right">
      <ul class="sub-header-nav">
        <li>
          <a href="#">
           <h4 class="sr-no">01</h4>
           <h4 class="text-uppercase">Newsletter<br>Signup</h4>
         </a>
        </li>
      </ul>
    </div>
  </div>
</section>
<div class="sub-header-decoration"></div>-->
  <!-- <section class="offers">
  <div class="offers-container" ng-class="{'border-left' : $even, 'border-right': $odd}" ng-repeat="offer in offers.special_rates ">
    <div class="offers-item" >
    <div class="offers-row" ng-class="{'even' : $odd}">
      <div class="title-wrap" ng-class="{'push-md-4' : $odd}">
          <div class="image-wrap bg-cover" ng-style="{'background-image': 'url([[offer.lead_photo_url.yankee_large || '/assets/images/dummy.jpg']] )'}" ></div>
          <div class="title-holder">
            <h2 ng-bind-html="offer.rate_plan_name | renderHTMLCorrectly"></h2>
            <div class="btn-holder"><a ng-href="[[offer.promo_url]]"  target="_blank" class="btn-outline-black">Check Rate</a></div>
          </div>
      </div>
      <div class="description-wrap align-self-end" ng-class="{'pull-md-8' : $odd}">
        <div class="description-holder">
          <h4>UP TO 35% OFF</h4>
          <p ng-bind-html="offer.long_description | renderHTMLCorrectly"></p>
          <a ng-href="/offer/#[[offer.rate_plan_name | formatNameForLink]]" class="link-text">View This Offer</a>
        </div>
      </div>
      </div>
    </div>
      </div>

</section> -->

  <!-- <section class="offers-wrapper">
    <div class="assets-item" ng-class="{'border-left' : $even, 'border-right even': $odd}" ng-repeat="offer in offers.special_rates">
      <div class="assets-container">
        <div class="assets-row">
          <div class="assets-left" ng-class="{'push-md-5' : $odd}">
            <div class="assets-image"><img ng-src="[[offer.lead_photo_url.large || '/assets/images/dummy.jpg']] " alt="[[offer.rate_plan_name]]">
              <div class="btn-holder"><a ng-href="[[offer.promo_url]]" class="btn-fill">Check Rate</a></div>
            </div>
          </div>
          <div class="assets-right align-self-center" ng-class="{'pull-md-7' : $odd}">
            <div class="assets-content">
              <h2 ng-bind-html="offer.rate_plan_name | renderHTMLCorrectly"></h2>
              <p ng-bind-html="offer.short_description | renderHTMLCorrectly"></p>
              <div class="link-holder"><a ng-href="/offer/#[[offer.rate_plan_name | formatNameForLink]]" class="link-text">View This Offer</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <section class="offers-wrapper">
    <div class="assets-item">
      <div class="assets-container">
        <div class="assets-row">
          <div class="assets-left">
            <div class="assets-image"><img src="/assets/images/offers/get-local.jpg" alt="Get Local">
              <div class="btn-holder"><a href="/" class="btn-fill">Check Rate</a></div>
            </div>
          </div>
          <div class="assets-right align-self-center">
            <div class="assets-content">
              <h2>Get Local</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
              <div class="link-holder"><a href="/offer-details/" class="link-text">View This Offer</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="assets-item even">
      <div class="assets-container">
        <div class="assets-row">
          <div class="assets-left pulling-right">
            <div class="assets-image"><img src="/assets/images/offers/tour-de.jpg" alt="Tour de Domestique Cycling Package in NYC">
              <div class="btn-holder"><a href="/" class="btn-fill">Check Rate</a></div>
            </div>
          </div>
          <div class="assets-right align-self-center pulling-left">
            <div class="assets-content float-md-right">
              <h2>Tour de Domestique Cycling Package in NYC</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
              <div class="link-holder"><a href="/offer-details/" class="link-text">View This Offer</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="assets-item">
      <div class="assets-container">
        <div class="assets-row">
          <div class="assets-left">
            <div class="assets-image"><img src="/assets/images/offers/get-suite-summer.jpg" alt="Get Suite Summer">
              <div class="btn-holder"><a href="/" class="btn-fill">Check Rate</a></div>
            </div>
          </div>
          <div class="assets-right align-self-center">
            <div class="assets-content">
              <h2>Get Suite Summer</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
              <div class="link-holder"><a href="/offer-details/" class="link-text">View This Offer</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="assets-item even">
      <div class="assets-container">
        <div class="assets-row">
          <div class="assets-left pulling-right">
            <div class="assets-image"><img src="/assets/images/offers/play-hooky.jpg" alt="Play Hooky - Day Pool Package">
              <div class="btn-holder"><a href="/" class="btn-fill">Check Rate</a></div>
            </div>
          </div>
          <div class="assets-right align-self-center pulling-left">
            <div class="assets-content float-md-right">
              <h2>Play Hooky - Day Pool Package</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim. veniam, quis nostrud exercitation ullamco</p>
              <div class="link-holder"><a  href="/offer-details/" class="link-text">View This Offer</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="assets-item">
      <div class="assets-container">
        <div class="assets-row">
          <div class="assets-left">
            <div class="assets-image"><img src="/assets/images/offers/get-it-all.jpg" alt="Get It All">
              <div class="btn-holder"><a href="/" class="btn-fill">Check Rate</a></div>
            </div>
          </div>
          <div class="assets-right align-self-center">
            <div class="assets-content">
              <h2>Get It All</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
              <div class="link-holder"><a  href="/offer-details/"  class="link-text">View This Offer</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="assets-item even">
      <div class="assets-container">
        <div class="assets-row">
          <div class="assets-left pulling-right">
            <div class="assets-image"><img src="/assets/images/offers/get-fit.jpg" alt="Get Fit">
              <div class="btn-holder"><a href="/" class="btn-fill">Check Rate</a></div>
            </div>
          </div>
          <div class="assets-right align-self-center pulling-left">
            <div class="assets-content float-md-right">
              <h2>Get Fit</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.</p>
              <div class="link-holder"><a  href="/offer-details/"  class="link-text">View This Offer</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="assets-item">
      <div class="assets-container">
        <div class="assets-row">
          <div class="assets-left">
            <div class="assets-image"><img src="/assets/images/offers/get-fly.jpg" alt="Get Fly, Ride With Us">
              <div class="btn-holder"><a href="/" class="btn-fill">Check Rate</a></div>
            </div>
          </div>
          <div class="assets-right align-self-center">
            <div class="assets-content">
              <h2>Get Fly, Ride With Us</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
              <div class="link-holder"><a  href="/offer-details/"  class="link-text">View This Offer</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="assets-item even">
      <div class="assets-container">
        <div class="assets-row">
          <div class="assets-left pulling-right">
            <div class="assets-image"><img src="/assets/images/offers/night-owl.jpg" alt="Night Owl">
              <div class="btn-holder"><a href="/" class="btn-fill">Check Rate</a></div>
            </div>
          </div>
          <div class="assets-right align-self-center pulling-left">
            <div class="assets-content float-md-right">
              <h2>Night Owl</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
              <div class="link-holder"><a  href="/offer-details/" class="link-text">View This Offer</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="assets-item">
      <div class="assets-container">
        <div class="assets-row">
          <div class="assets-left">
            <div class="assets-image"><img src="/assets/images/offers/get-hitched.jpg" alt="Get Hitched">
              <div class="btn-holder"><a href="/" class="btn-fill">Check Rate</a></div>
            </div>
          </div>
          <div class="assets-right align-self-center">
            <div class="assets-content">
              <h2>Get Hitched</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
              <div class="link-holder"><a  href="/offer-details/"  class="link-text">View This Offer</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="assets-item even">
      <div class="assets-container">
        <div class="assets-row">
          <div class="assets-left pulling-right">
            <div class="assets-image"><img src="/assets/images/offers/get-pampered.jpg" alt="Get Pampered - Ultimate Spa Package">
              <div class="btn-holder"><a href="/" class="btn-fill">Check Rate</a></div>
            </div>
          </div>
          <div class="assets-right align-self-center pulling-left">
            <div class="assets-content float-md-right">
              <h2>Get Pampered - Ultimate Spa Package</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.</p>
              <div class="link-holder"><a ng-href="/rooms/superior-room/" class="link-text">View This Offer</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<!--   <section class="cta bg-cover" style="background-image:url(/assets/images/offers/offers-cta.jpg); background-attachment:fixed;">
    <div class="bg-overlay"></div>
    <div class="logo-holder"><a href="/"><img src="/assets/images/logo.png" alt="Royalton Park Avenue"></a></div>
    <div class="btn-holder"><a href="{{site.reztripUrl}}" class="btn-outline">Be a part of it</a></div>
    <div class="cta-text"><a href="https://royaltonparkavenue.reztrip.com">Book Now</a></div>
  </section> -->

</section>
