---
layout: default
parent: home
title: Boutique Hotels in Manhattan, NYC | Royalton Park Avenue
---

<!--Main Carousel here-->
{% assign homeheroSliders = site.data._models.homepage-slider | sort: 'order' %}
<section class="homepageSlider  d-flex justify-content-between">
  <div id="heroSlider" class="homeSlide carousel slide" data-ride="carousel" data-interval="6000" data-pause>
    <div class="carousel-inner" role="listbox">
     {% for slider in homeheroSliders %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}" style="background-image: url('{{slider.image.url_large}}');"> 
          <div class="carousel-caption text-left  d-md-block">
            <h4>{{slider.name}}</h4> 
            <a href="{{slider.link-url}}" class="link-text">{{slider.link-text}}</a> </div>
        </div>     
     {% endfor %} 
    </div>
    <a class="carousel-control-prev" href="#" data-target="#heroSlider" role="button" data-slide="prev"> <span class="eligant-icons control-arrow" aria-hidden="true">#</span> <span class="sr-only">Previous</span> </a> <a class="carousel-control-next" href="#" data-target="#heroSlider" role="button" data-slide="next"> <span class="eligant-icons control-arrow" aria-hidden="true">$</span> <span class="sr-only">Next</span> </a> </div>
</section>

 

<section class="welcome-royalton top-space">
  <div class="wrapper border-left">
    <div class="hero-images">
      <div class="image-box">
        <div class="img-caption">
          <p class="caption-90">The Royalton Park Avenue Lobby</p>
        </div>
        <div class="img-6 pl-md-0 pr-xs-0">
          <figure> <img src="/assets/images/about/resting.jpg" alt="lobby in royalton" class="img-fluid"> </figure>
        </div>
        <div class="img-4 pr-md-0">
          <figure> <img src="/assets/images/about/lobby.jpg" alt="royalton hotel lobby" class="img-fluid"> </figure>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div class="divider">
      <div class="horizontal-row">
        <div class="left-gap"></div>
        <div class="h-separator p-0">
          <hr>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper top-space">
    <div class="left-caption pb-xs-2">
      <!--h4 class="sr-no">01</h4-->
      <h4 class="text-uppercase">Welcome to<br>Royalton PArk<br>Avenue Hotel</h4>
      <a href="{{site.pagelink.contact}}" class="link-text">Contact us</a> </div>
    <div class="details-5">
      <h2>La Crème de la <br>
        Crème </h2>
      <p>The Royalton Park Avenue Hotel offers downtown edge with an uptown sensibility. Boasting 249 luxury rooms and remarkable suites, most with lofty ceilings, Juliet balconies, and five fixture bathrooms – the property perched on the corner of 29th Street and Park Avenue couldn’t be more centrally located.</p>
    </div>
    <div class="btn-col-3 bottom-padding align-self-center"> <a href="{{site.pagelink.about}}" class="align-middle btn-outline-black ml-md-5 ml-lg-0" title="Discover More">Discover More</a> </div>
  </div>
  <div class="wrapper">
    <div class="photos-slider d-flex justify-content-between">
      <div id="photosSlider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active" style="background-image: url('/assets/images/home/presidential-suite.jpg');"> </div>
          <div class="carousel-item" style="background-image: url('/assets/images/home/fireplace.jpg');"> </div>
          <div class="carousel-item" style="background-image: url('/assets/images/home/bar.jpg');"> </div>
          <div class="carousel-item" style="background-image: url('/assets/images/home/sundeck.jpg');"> </div>
        </div>
        <a class="carousel-control-prev" href="#" data-target="#photosSlider" role="button" data-slide="prev"> <span class="eligant-icons control-arrow" aria-hidden="true">#</span> <span class="sr-only">Previous</span> </a> <a class="carousel-control-next" href="#" data-target="#photosSlider" role="button" data-slide="next"> <span class="eligant-icons control-arrow" aria-hidden="true">$</span> <span class="sr-only">Next</span> </a> </div>

       <div class="photo-r-caption">
		 <p class="caption-90">Chic sophistication in the heart of NYC</p>
	   </div>
    </div>
  </div>
</section>

<!--Rooms & Suites section here-->

<section class="rooms-suites top-space">
  <div class="border-right"></div>
  <div class="container">
    <div class="wrapper">
      <div class="cta-rooms align-self-center text-center"> <a href="{{site.pagelink.rooms}}" class="align-middle btn-outline-black mb-3" title="Discover More">Discover More</a> </div>
      <div class="sub-heading">
        <!--h4 class="sr-no">02</h4-->
        <h4 class="text-uppercase">high style, luxury <br>
          and comfort all in <br>
          one</h4>
      </div>
    </div>
    <div class="wrapper  top-space">
      <div class="rooms-control">
        <div class="rooms-suites-nav"> <span class="eligant-icons control-arrow owl-arrow-prev" aria-hidden="true">#</span> <span class="eligant-icons control-arrow owl-arrow-next" aria-hidden="true">$</span> </div>
      </div>
      <div class="rooms-list">
        <div id="rooms-suites-carousel" class="owl-carousel owl-theme">
          <!--Reztrip integrated data below-->
          <!--<div class="item" ng-repeat ="room in browser.roomsList">
            <div class="img-holder"  ng-style="{'background-image': 'url([[room.photos[0].yankee_large]])'}"> <a ng-href="{{site.reztripUrl}}search?selected_room_category=[[room.category]]&selected_room=[[room.code]]" target="_blank" class="book-link">[[room.todayRate]]</a> </div>
            <div class="caption">
              <h4 ng-bind-html="room.name | renderHTMLCorrectly"></h4>
              <a ng-href="/room/#[[room.name | formatNameForLink]]">View This [[room.name | roomOrSuite]]</a> </div>
          </div>-->

          <!--Static data below-->
          <div class="item" ng-repeat ="room in browser.roomsList">
            <div class="img-holder" ng-style="{'background-image': 'url([[room.photos[0].large]])'}"> <a ng-href="{{site.reztripUrl}}search?selected_room_category=[[room.category]]&selected_room=[[room.code]]" target="_blank" class="book-link">[[room.todayRate]]</a> </div>
            <div class="caption">
              <h4 ng-bind-html="room.name | renderHTMLCorrectly"></h4>
              <a ng-href="/room/#[[room.name | formatNameForLink]]">View This [[room.name | roomOrSuite]]</a>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="wrapper">
      <div class="rooms-intro-h">
        <p>Our design-oriented, luxury accommodations boast an average size of 475 square feet, lofty ceilings, Juliet balconies, and magnificent Park Avenue South views.</p>
      </div>
    </div>
  </div>
</section>

<!--Testimonials here-->

<div id="testimonialSlider" class="testimonialSlider top-space carousel slide" data-ride="carousel">
	<div class="carousel-inner" role="listbox">
	  <div class="carousel-item active" style="background-image: url('/assets/images/home/trip-advisor-room.jpg');">
		<div class="carousel-caption text-right d-none d-md-block">
		  <!--<h3>01</h3>-->
		  <h4>Cityscape views and open air</h4>
		</div>
		<div class="org-overlay">
		  <h3>
		  What our guests say
		  </h3>
		  <!-- <p class="comment">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
		  <p><i class="fa fa-tripadvisor" aria-hidden="true"></i></p>
		</div>
	  </div>
	  <!-- <a class="carousel-control-prev" href="#" data-target="#testimonialSlider" role="button" data-slide="prev">
			<span class="eligant-icons control-arrow" aria-hidden="true">#</span>
			<span class="sr-only">Previous</span>
		  </a>
		  <a class="carousel-control-next" href="#" data-target="#testimonialSlider" role="button" data-slide="next">
			<span class="eligant-icons control-arrow" aria-hidden="true">$</span>
			<span class="sr-only">Next</span>
		  </a> -->
	</div>
</div>

<!--Offers section here-->

<section class="exclusive-offers  top-padding">
  <div class="wrapper">
    <div class="left-caption">
      <!--h4 class="sr-no">03</h4-->
      <h4 class="text-uppercase">Exclusive <br>
        Offers</h4>
    </div>
    <div class="details-8">
      <h2>Have it all</h2>
      <p>Whether you’re planning a weekend getaway or a long-term stay, we offer exclusive specials to guests who book direct.</p>
    </div>
  </div>
  <div class="wrapper">
    <div class="exclusive-offers-nav"> <span class="eligant-icons control-arrow owl-arrow-prev" aria-hidden="true">#</span> <span class="eligant-icons control-arrow owl-arrow-next" aria-hidden="true">$</span> </div>
  </div>
  <div class="wrapper border-left border-right" rt3-special-rates= "offers">
    <div class="container">
      <div id="exclusive-offers-carousel" class="owl-carousel owl-theme">
        <!--Reztrip implementation below-->
        <!--<div class="item" ng-style="{'background-image': 'url([[offer.lead_photo_url.yankee_large || '/assets/images/dummy.jpg']] )'}" ng-repeat="offer in offers.special_rates ">
          <div class="grey-overlay"> <a ng-href="[[offer.promo_url]]" class="link-text" title="Check Offer Rate">Check Rate</a>
            <div class="offer-cta">
              <div class="btn-holder"><a ng-href="/offer/#[[offer.rate_plan_name | formatNameForLink]]" class="btn-outline" title="[[offer.rate_plan_name | renderHTMLCorrectly]]" ng-bind-html="offer.rate_plan_name | renderHTMLCorrectly"></a></div>
            </div>
            <a ng-href="/offer/#[[offer.rate_plan_name | formatNameForLink]]"  class="link-text" title="View This Offer">View This Offer</a>
          </div>
        </div>-->
       <!--Static Implementation below-->
        <div class="item" ng-style="{'background-image': 'url([[offer.lead_photo_url.large || '/assets/images/dummy.jpg']] )'}" ng-repeat="offer in offers.special_rates ">
          <div class="grey-overlay"> <a ng-href="[[offer.promo_url]]" class="link-text" target="_blank" title="Check Offer Rate">Check Rate</a>
            <div class="offer-cta">
              <div class="btn-holder"><a ng-href="/offer/#[[offer.rate_plan_name | formatNameForLink]]" class="btn-outline" title="[[offer.rate_plan_name | renderHTMLCorrectly]]" ng-bind-html="offer.rate_plan_name | renderHTMLCorrectly">Get it All</a></div>
            </div>
            <a ng-href="/offer/#[[offer.rate_plan_name | formatNameForLink]]"  class="link-text" title="View This Offer">View This Offer</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div class="divider">
      <hr>
    </div>
  </div>
  <div class="wrapper">
    <div class="left-caption"> </div>
    <div class="details-8">
      <div class="btn-holder"><a href="{{site.pagelink.offers}}" class="btn-outline-black">View All Offers</a></div>
    </div>
  </div>
</section>

<!--Dining Section here-->

<section class="restaurant">
  <div class="wrapper">
    <div class="eat-drink  top-space">
      <div class="r-caption">
        <!--h4 class="sr-no">04</h4-->
        <h4 class="text-uppercase">ROOFTOP BAR + LOUNGE<br>SUNDECK<br>RISTORANTE ASELLINA</h4>
      </div>
      <div class="rotate-title">
        <p class="title"> Eat Drink <br>
          <span>Be merry.</span> </p>
      </div>
      <div class="border-left img-holder">
        <figure><img src="/assets/images/home/offers/royaltan-restaurant.jpg" alt="restaurant" class="img-fluid"></figure>
      </div>
    </div>
    <div class="about-restaurant">
      <figure> <img src="/assets/images/home/offers/restaurant.jpg" alt="restaurant" class="img-fluid"> </figure>
      <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> -->
      <div class="btn-holder"><a href="{{site.pagelink.dining}}" class="btn-outline-black">Discover More</a></div>
    </div>
  </div>
</section>

<!--CTA here-->

<section class="cta bg-cover top-space" style="background-image:url(/assets/images/city-ariel-view.jpg); background-attachment:fixed;">
  <div class="bg-overlay"></div>
  <div class="logo-holder"><a href="/"><img src="/assets/images/logo.png" alt="Royalton Park Avenue"></a></div>
  <div class="btn-holder"><!--<a href="{{site.reztripUrl}}" class="btn-outline">Be a part of it</a>--><a href="{{site.reztripUrl}}" class="btn-outline">Be a part of it</a></div>
  <div class="cta-text"><a href="{{site.reztripUrl}}">Book Now</a></div>
</section>

<!--Location Section here-->

<section class="home-location-container">
  <div class="container-inner">
    <div class="row no-gutters">
      <h2>Location</h2>
      <div class="col-md-6 no-padding">
        <div class="content-left">
          <h4>in the heart of NOMAD</h4>
          <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> -->
          <div class="btn-holder" style="text-align: center;"><a href="{{site.pagelink.location}}" class="btn-outline-black">Discover More</a></div>
        </div>
      </div>
      <div class="col-md-6 no-padding">
        <div class="content-right">
          <h4>royalton Park Avenue</h4>
          <p><i class="fa fa-map-marker"></i> 420 Park Avenue South (at 29th Street),<br>New York, NY 10016<br>
		  <i class="fa fa-phone"></i><a href="tel:12123172900"></a>+1 212 317 2900</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="auto-width-carousel border-left">
    <div class="col-md-5 no-padding">
      <div class="attractions-controls"> <span class="eligant-icons control-arrow owl-arrow-prev" aria-hidden="true">#</span> <span class="eligant-icons control-arrow owl-arrow-next" aria-hidden="true">$</span> <span class="c-caption">Explore <br>
        New York City</span> </div>
    </div>
    <div class="col-md-7 no-padding">
      <div id="home-attractions" class="owl-carousel owl-theme">
        <div class="item"><img src="/assets/images/home/location-slider/02.jpg" alt="Royalton Park Avenue"></div>
        <div class="item"><img src="/assets/images/home/location-slider/05.jpg" alt="Royalton Park Avenue"></div>
        <div class="item"><img src="/assets/images/home/location-slider/03.jpg" alt="Royalton Park Avenue"></div>
        <div class="item"><img src="/assets/images/home/location-slider/04.jpg" alt="Royalton Park Avenue"></div>
        <div class="item"><img src="/assets/images/home/location-slider/01.jpg" alt="Royalton Park Avenue"></div>
        <div class="item"><img src="/assets/images/home/location-slider/06.jpg" alt="Royalton Park Avenue"></div>
        <div class="item"><img src="/assets/images/home/location-slider/07.jpg" alt="Royalton Park Avenue"></div>
      </div>
    </div>
  </div>
  <div class="container-inner">
    <div class="row no-gutters">
      <div class="col-md-7 no-padding">
        <div class="content-bottom">
          <h4>The Greatest City in the World</h4>
          <p>A bastion of creativity, New York City is unlike any other place in the world. An international hub of people, ideas, and culture, you could spends years in New York City and never see it in its entirely. New York never loses its interest. Come see it in all its glory, in the heart of Manhattan, at the Royalton Hotel.</p>
        </div>
      </div>
      <div class="col-md-5 no-padding">
        <div class="script-wrap"> <img src="/assets/images/script.png" alt="Royalton Park Avenue"> </div>
      </div>
    </div>
  </div>
</section>

<!--Footer with map here-->

{% include footer-map.html%}
