<section class="collage-instagram mt-5">
    <div class="row">
      {% for collage in site.data._models.collage | limit:18 %}
        <div class="col-md-2 col-sm-2">
          <img src="{{ collage.image.url_large }}"  alt="{{ collage.title }}">
        </div>
      {% endfor %}
      <div class="collage-instagram-inner">
        <div class="logo-holder">
          <a href="/">
            <img src="/assets/images/logo.png" alt="Royalton Park Avenue">
          </a>
        </div>
        <div class="btn-holder">
          <a href="https://royaltonparkavenue.reztrip.com/classic/en/searches/5b50d25d476433561405e512/hotels/NYCRPA/rooms?_ga=2.58906345.59193338.1531747234-1952098537.1529346653&action=show&controller=landings#?category" title="#feelroyal" target="_blank" class="btn-outline text-lowercase">#feelroyal</a>
        </div>
        <div class="cta-text">
          <a href="https://www.instagram.com/royaltonparkavenue/" title="@royaltonparkavenue" target="_blank">@royaltonparkavenue</a>
        </div>
      </div>
    </div>
</section>