<section class="collage-instagram">
    <div class="row">
      <div class="col-md-2">
        <img src="/assets/images/car.jpg"  alt="Cars">
      </div>
      <div class="col-md-2">
        <img src="/assets/images/tower.jpg"  alt="Cars">
      </div>
      <div class="col-md-2">
        <img src="/assets/images/car.jpg"  alt="Cars">
      </div>
      <div class="col-md-2">
        <img src="/assets/images/tower.jpg"  alt="Cars">
      </div>
      <div class="col-md-2">
        <img src="/assets/images/car.jpg"  alt="Cars">
      </div>
      <div class="col-md-2">
        <img src="/assets/images/tower.jpg"  alt="Cars">
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <img src="/assets/images/car.jpg"  alt="Cars">
      </div>
      <div class="col-md-4">
        <div class="text">
          <h3 class="text-center">@royaltonparkavenue</h3>
          <h6>#feelroyal</h6>
        </div>
      </div>
      <div class="col-md-2">
        <img src="/assets/images/tower.jpg"  alt="Cars">
      </div>
      <div class="col-md-2">
        <img src="/assets/images/car.jpg"  alt="Cars">
      </div>
      <div class="col-md-2">
        <img src="/assets/images/tower.jpg"  alt="Cars">
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <img src="/assets/images/car.jpg"  alt="Cars">
      </div>
      <div class="col-md-2">
        <img src="/assets/images/tower.jpg"  alt="Cars">
      </div>
      <div class="col-md-2">
        <img src="/assets/images/car.jpg"  alt="Cars">
      </div>
      <div class="col-md-2">
        <img src="/assets/images/tower.jpg"  alt="Cars">
      </div>
      <div class="col-md-2">
        <img src="/assets/images/car.jpg"  alt="Cars">
      </div>
      <div class="col-md-2">
        <img src="/assets/images/tower.jpg"  alt="Cars">
      </div>
    </div>
</section>