<section class="collage-instagram">
    <div class="row">
      {% for collage in site.data._models.collage | limit:18 %}
        <div class="col-md-2 col-sm-2">
          <img src="{{ collage.image.url_large }}"  alt="{{ collage.title }}">
        </div>
      {% endfor %}
      <div class="collage-instagram-inner">
        <div class="logo-holder">
          <a href="/">
            <img src="/assets/images/logo.png" alt="Royalton Park Avenue">
          </a>
        </div>
        <div class="btn-holder">
          <a href="https://www.instagram.com/royaltonparkavenue/" title="Instagram" target="_blank" class="btn-outline text-lowercase">#feelroyal</a>
        </div>
        <div class="cta-text">
          <a href="https://www.instagram.com/royaltonparkavenue/" title="Instagram" target="_blank">@royaltonparkavenue</a>
        </div>
      </div>
    </div>
</section>