<section class="exclusive-offers bottom-padding top-padding">
  <div class="wrapper">
    <h2 class="text-center m-auto">Browse Exclusive Offers</h2>
  </div>
  <div class="wrapper">
    <div class="exclusive-offers-nav text-center mt-0 pt-3 pr-0"> <span class="eligant-icons control-arrow owl-arrow-prev" aria-hidden="true">#</span> <span class="eligant-icons control-arrow owl-arrow-next" aria-hidden="true">$</span> </div>
  </div>
  <div class="wrapper">
    <div class="container"><!--rt3-special-rates= "offers"-->
      <div id="exclusive-offers-carousel" class="owl-carousel owl-theme">
        <!--Reztrip implementation below-->
        <!--<div class="item" ng-style="{'background-image': 'url([[offer.lead_photo_url.yankee_large || '/assets/images/dummy.jpg']] )'}" ng-repeat="offer in offers.special_rates ">
          <div class="grey-overlay"> <a ng-href="[[offer.promo_url]]" class="link-text" title="Check Offer Rate">Check Rate</a>
            <div class="offer-cta">
              <div class="btn-holder"><a ng-href="/offer/#[[offer.rate_plan_name | formatNameForLink]]" class="btn-outline" title="[[offer.rate_plan_name | renderHTMLCorrectly]]" ng-bind-html="offer.rate_plan_name | renderHTMLCorrectly"></a></div>
            </div>
            <a ng-href="/offer/#[[offer.rate_plan_name | formatNameForLink]]"  class="link-text" title="View This Offer">View This Offer</a> 
          </div>
        </div>-->
        <!--Static Implementation below-->
        <div class="item" style="background-image: url('/assets/images/home/offers-slider/01.jpg');">
          <div class="grey-overlay"> <a href="#" class="link-text" title="Check Offer Rate">Check Rate</a>
            <div class="offer-cta">
              <div class="btn-holder"><a href="#" class="btn-outline" title="Offer">Get it All</a></div>
            </div>
            <a ng-href="#"  class="link-text" title="View This Offer">View This Offer</a> 
          </div>
        </div>
        <div class="item" style="background-image: url('/assets/images/home/offers-slider/02.jpg');">
          <div class="grey-overlay"> <a href="#" class="link-text" title="Check Offer Rate">Check Rate</a>
            <div class="offer-cta">
              <div class="btn-holder"><a href="#" class="btn-outline" title="Offer">Night Owl</a></div>
            </div>
            <a ng-href="#"  class="link-text" title="View This Offer">View This Offer</a> 
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper mt-4 ">
    <div class="btn-holder m-auto"><a href="{{site.pagelink.offers}}" title="Check All Offers" class="btn-outline-black">View All</a></div>
  </div>
</section>
