<div class="footer-inner">    
<div class="footer-container">
        <div class="footer-row">
            <div class="coloumn-1">
                <div class="footer-content no-left-padding">
                    <a href="http://highgate.com/" target="_blank"><img src="/assets/images/highgate-logo-white.png" class="footer-logo img-fluid" alt="Highgate Hotels"></a>
                </div>
            </div>
            <div class="coloumn-2">
                <div class="footer-content">
                    <h4>Contact</h4>
                    <ul class="contact">
                        <li>
                           <a href="https://www.google.com/maps/place/Royalton+New+York/@40.7554202,-73.9845716,17z/data=!3m1!4b1!4m5!3m4!1s0x89c258ffef0d23a5:0x19f9952aebee2990!8m2!3d40.7554202!4d-73.9823776" target="_blank">
								44 West 44th Street<br>
								New York, NY 10036<br>
								USA
                       		</a>
                        </li>
                        <li>
                            <a href="tel:+1 212 869 4400">+1 212 869 4400</a><br>
                            <a href="tel:+1 212 869 4401">+1 212 869 4401</a><br>
                            <a href="mailto:reservations@royalton-nyc.com">Reservations@royalton-nyc.com</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="coloumn-3">
                <div class="footer-content">
                    <h4>Links</h4>
                    <ul class="links">
                        <li><a href="{{site.pagelink.about}}">About</a></li> 
                        <li><a href="{{site.pagelink.offers}}">Offers</a></li>
                        <li><a href="{{site.pagelink.rooms}}">Rooms</a></li>
                        <li><a href="{{site.pagelink.location}}">Location</a></li>
                        <li><a href="{{site.pagelink.gallery}}">Gallery</a></li>
                        <li><a href="{{site.pagelink.contact}}">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="coloumn-4">
                <div class="footer-content">
                    <h4>Newsletter</h4>
                    <form action="https://submit.jotform.me/submit/72089051463456/" method="post" name="form_72089051463456" id="72089051463456" accept-charset="utf-8">
                        <input type="hidden" name="formID" value="72089051463456" />
                    <div class="input-holder">
                        <input type="email" class="nl validate[Email]" title="Newsletter Signup" placeholder="Your e-mail" id="input_3" name="q3_email">
                         <button class="nl-signup-btn"><span class="eligant-icons control-arrow owl-arrow-next" aria-hidden="true">$</span></button> 
                    </div>
                    </form>
        <div class="social">
           {% if site.data.social.instagram.username %}
            <a href="https://instagram.com/{{ site.data.social.instagram.username }}" target="_blank" role="link" aria-label="Instagram" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
           {%endif%}
           {% if site.data.social.facebook.username %}
            <a href="https://facebook.com/{{ site.data.social.facebook.username }}" target="_blank" role="link" aria-label="Facebook" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            {%endif%}
            {% if site.data.social.twitter.username %}
            <a href="https://twitter.com/{{ site.data.social.twitter.username }}" target="_blank" role="link" aria-label="Twitter" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            {% endif %}
           
        </div>
        <div class="other-logos">
            <a href="https://preferredhotels.com/iprefer/" target="_blank"><img src="/assets/images/iprefer-logo.png" alt="iPrefer"></a>
            <a href="https://preferredhotels.com/destinations?collection=CON" target="_blank"><img src="/assets/images/connect-logo.png" alt="connect"></a>
        </div>
                </div>
            </div>
        </div>
        </div>
    </div>
<div class="copyrights">
    <div class="footer-container">
        <div class="copyrights-row">
        <div class="copright-text">© 2017 Royalton New York</div>
        <div class="credentials"><a href="https://www.traveltripper.com/" target="_blank"><img src="/assets/images/traveltripper-logo.png" class="img-fluid" alt="Travel Trpper"></a></div>
        </div>
    </div>
</div>
    