{% assign menuitems = site.data.navigation.main %}

<nav class="navbar navbar-expand-lg navbar-dark {%if page.parent ==" home " %}home-nav{%endif%} navbar-inverse" role="navigaton" aria-label="Primary">
  <button class="navbar-toggler navbar-toggler-left collapsed" type="button" title="Hamburger Menu" name="Hamburger Menu" aria-label="Hamburger Menu" data-toggle="collapse" data-target="#collapsingNavbar" aria-controls="navbarNav" aria-expanded="false">
           <span class="close-toggle"> </span>
           <span class="navbar-toggler-icon"></span>
    </button>

  <a class="navbar-brand" href="/" title="Back to home">
     {%if page.parent =="home" %}
     <img src="/assets/images/logo.png" alt="{{ site.title }}" class="img-fluid">
     {%else%}
     <img src="/assets/images/logo.png" alt="{{ site.title }}" class="img-fluid">
     {%endif%}
     </a>

  <div class="collapse navbar-collapse" id="collapsingNavbar">
    <ul class="navbar-nav mx-auto">
      {% for item in menuitems %}
      <li class="nav-item{% if page.url == item.url %} active{% endif %}{% if item.dropdown %} dropdown{% endif %}">
        <a class="nav-link" href="{{item.url | absolute_url}}" {% if item.dropdown %} aria-haspopup="true" aria-expanded="false" {% endif %}>{{ item.title }} {% if page.url==item.url %}<span class="sr-only">(current)</span>{% endif %}</a>
        {% if item.dropdown %}
        <ul class="dropdown-menu" role="menu">
          {% for sublink in item.dropdown %}
          <li><a class="nav-link" href="{{ sublink.url }}" title="{{ sublink.title }}">{{ sublink.title }} </a></li>
          {% endfor %}
        </ul>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
  <a class="btn-black" role="button" href="javascript:void(0)" title="Book Now" show-booking-widget> Book Now</a>
</nav>
