<!-- begin SEO -->
{% if site.url %}{% assign seo_url = site.url | append: site.baseurl %}{% endif %} {% if page.title %}{% assign seo_title = page.title | normalize_whitespace | escape_once %}{% else %}{% assign seo_title = site.title | append: " " | append: site.title_separator | append: " " | append: site.name %}{% endif %} 
{% if site.url %}{% assign canonical_url = page.url | replace: "index.html", "" | prepend: site.url %}{% endif %}
<title>{{ seo_title }}</title>
{% assign seo_description = page.meta_description | default: page.excerpt | default: site.description %}{% if seo_description %}{% assign seo_description = seo_description | markdownify | strip_html | strip_newlines | normalize_whitespace | escape_once %}{% endif %} 
<meta name="description" content="{{ seo_description }}">
<meta property="og:description" content="{{ seo_description }}">
{% assign seo_author = page.author | default: page.author[0] | default: site.data.authors.primary.name %}
{% if seo_author %}
  {% if seo_author.twitter %}
    {% assign seo_author_twitter = seo_author.twitter %}
  {% else %}
    {% if site.data.authors.primary and site.data.authors.primary[seo_author] %}
      {% assign seo_author_twitter = site.data.authors.primary[seo_author].twitter  %}
    {% else %}
      {% assign seo_author_twitter = seo_author  %}
    {% endif %}
  {% endif %}
  {% assign seo_author_twitter = seo_author_twitter | replace: "@", "" %}
{% endif %}

<meta property="og:locale" content="{{ site.default_lang | replace: "-", "_" | default: "en_US" }}">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:title" content="{{ page.title | default: site.title | escape_once }}">

{% if seo_url %}
  <link rel="canonical" href="{{ page.url | prepend: seo_url | replace: "/index.html", "/" }}">
  <meta property="og:url" content="{{ page.url | prepend: seo_url | replace: "/index.html", "/" }}">
{% endif %}

{% if site.data.social.twitter.username %}
  <meta name="twitter:site" content="@{{ site.data.social.twitter.username | replace: "@", "" }}">
  <meta name="twitter:title" content="{{ page.title | default: site.title | escape_once }}">
  <meta name="twitter:description" content="{{ seo_description }}">
  <meta name="twitter:url" content="{{ canonical_url }}">
  <meta name="twitter:card" content="summary">
  
  {% if site.data.social.og_image %}
  <meta name="twitter:image" content="{{ site.data.social.og_image | absolute_url }}">
  {% endif %}

  {% if seo_author_twitter %}
    <meta name="twitter:creator" content="@{{ seo_author_twitter }}">
  {% endif %}
{% endif %}

{% if site.data.social.facebook %}
  {% if site.data.social.facebook.publisher %}
    <meta property="article:publisher" content="{{ site.data.social.facebook.publisher }}">
  {% endif %}

  {% if site.data.social.facebook.app_id %}
    <meta property="fb:app_id" content="{{ site.data.social.facebook.app_id }}">
  {% endif %}
{% endif %}

{% if site.data.social.og_image %}
  <meta property="og:image" content="{% if site.data.social.og_image contains "://" %}{{ site.data.social.og_image }}{% else %}{{ site.data.social.og_image | absolute_url }}{% endif %}">
{% endif %}

{% if page.date %}
  <meta property="og:type" content="article">
  <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
{% endif %}

{% if site.data.social.og_image %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": {{ seo_url | jsonify }},
      "logo": {{ site.data.social.og_image | absolute_url | jsonify }}
    }
  </script>
{% endif %}

{% if site.social %}
  <script type="application/ld+json">
    {
      "@context" : "http://schema.org",
      "@type" : "{% if site.social.type %}{{ site.social.type }}{% else %}Person{% endif %}",
      "name" : "{{ site.social.name | default: site.name }}",
      "url" : {{ seo_url | jsonify }},
      "sameAs" : {{ site.social.links | jsonify }}
    }
  </script>
{% endif %}

{% if site.data.verification.google_site_verification %}
  <meta name="google-site-verification" content="{{ site.data.verification.google_site_verification }}" />
{% endif %}
{% if site.data.verification.bing_site_verification %}
  <meta name="msvalidate.01" content="{{ site.data.verification.bing_site_verification }}">
{% endif %}
{% if site.data.verification.alexa_site_verification %}
  <meta name="alexaVerifyID" content="{{ site.data.verification.alexa_site_verification }}">
{% endif %}
{% if site.data.verification.yandex_site_verification %}
  <meta name="yandex-verification" content="{{ site.data.verification..yandex_site_verification }}">
{% endif %}

<script type='application/ld+json'>
{
  "@context": "http://www.schema.org",
  "@type": "Organization",
  "name": "Royalton Park Avenue",
  "url": "https://www.royaltonparkavenue.com/",
  "logo": "https://www.royaltonparkavenue.com/assets/images/logo.png",
  "description": "The Royalton Park Avenue Hotel offers downtown edge with an uptown sensibility. Boasting 249 luxury rooms and remarkable suites in Park Avenue, NYC.",
     "sameAs": [
    "https://www.facebook.com/royaltonparkavenue/"

  ]
  }
}
</script>
<script type='application/ld+json'>
{
  "@context": "http://schema.org",
  "@type": "Hotel",
  "image": "https://cdn.traveltripper.io/site-assets/192_800_7760/media/2017-10-05-075817/large_Park-Ivy-Lounge-Table-Setup-Fireplace101.jpg",
"starRating" : { "@type" : "Rating",
                       "ratingValue" : "4"},
"priceRange" : "from $200",
 "address": {
    "@type": "PostalAddress",
    "streetAddress": "420 Park Avenue",
    "addressLocality": "South New York",
    "addressRegion": "New York",
    "postalCode": "NY 10016",
    "addressCountry": "United States"
    },
  "description": "The Royalton Park Avenue Hotel offers downtown edge with an uptown sensibility. Boasting 249 luxury rooms and remarkable suites in Park Avenue, NYC.",
  "name": "Royalton Park Avenue",
  "alternateName":"Royalton Park Avenue Hotel",
  "telephone": "+1 212 317 2900",
  "email": "reservations@royaltonparkavenue.com",
  "url": "https://www.royaltonparkavenue.com/",
   "sameAs" : ["https://www.facebook.com/RoyaltonParkAvenue/","https://www.instagram.com/royaltonparkavenue/","https://www.tripadvisor.com/Hotel_Review-g60763-d1456411-Reviews-Royalton_Park_Avenue-New_York_City_New_York.html","https://www.booking.com/hotel/us/gansevoort-park-avenue-nyc.en-gb.html"]
    },
   "https://www.google.com/maps/place/Royalton+Park+Avenue/@40.743903,-73.9863128,17z/data=!3m1!4b1!4m5!3m4!1s0x89c259a7940b9daf:0xca7a1b6d26766ed1!8m2!3d40.743899!4d-73.9841241"
 },

  "potentialAction":{
   "@type":"ReserveAction",
   "target":{
   "@type":"EntryPoint",
   "urlTemplate":"https://royaltonparkavenue.reztrip.com/classic/en/searches/5be57832573ff9310493e4d9/hotels/NYCRPA/rooms/":[
   "http://schema.org/DesktopWebPlatform",
   "http://schema.org/IOSPlatform",
    "http://schema.org/AndroidPlatform"
]
},
   "result":{
   "@type":"LodgingReservation",
   "name":"Book Now"
  }
 }
}
</script>
<!-- end SEO -->

{% if page.meta_tags.robots %}
 <meta name="robots" content="{{ page.meta_tags.robots }}">
{% endif %}