/*
   Base Elements
   ========================================================================== */
html {
  position: relative;
  min-height: 100%;
  font-size: 0.813rem;
  @include media-breakpoint-up(xl) {
    font-size: 1rem;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: $global-font-family;
  line-height: 1.5;
  color: $text-color;
  background-color: $body-color;
}

h1 {
  margin-top: 0;
  font-family: $header-font-family;
  font-size: $type-size-1;
}

h2 {
  font-family: $header-font-family;
  font-size: $type-size-3;
  color: $heading-color;
}

h3 {
  font-family: $caption-font-family;
  font-size: $type-size-5;
  font-weight: bold;
}

h4 {
  font-family: $caption-font-family;
  font-size: $type-size-7;
  letter-spacing: 0.12rem;
}

h5 {
  font-family: $caption-font-family;
  font-size: $type-size-6;
}

h6 {
  font-family: $caption-font-family;
  font-size: $type-size-8;
}

.small,
small {
  font-size: $type-size-8;
}

p {
  margin-bottom: 1.3rem;
  font-size: $type-size-6;
  line-height: 1.5rem;
  color: $primary-color;
}

ins,
u {
  text-decoration: none;
  border-bottom: 1px solid $text-color;

  a {
    color: inherit;
  }
}

del a {
  color: inherit;
}
/* links */
a {
  &:active,
  &:hover {
    outline: 0;
  }
}
/* horizontal rule */
hr {
  display: block;
  margin: 1rem 0;
  border: 0;
  border-top: 1px solid $border-color;
}
/* sets a default bottom margin and removes bullet points from lists */
ol li,
ul li {
  margin-bottom: 0.5rem;
  list-style: none;
}

li ol,
li ul {
  margin-top: 0.5rem;
  list-style: none;
}
/* removes margins, padding, and bullet points from navigation lists */
nav {
  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
  }

  a {
    color: $text-color;
    text-decoration: none;
  }
  /* override white-space for nested lists */
  ol li,
  ul li {
    margin-bottom: 0;
  }

  li ol,
  li ul {
    margin-top: 0;
  }
}
/* fix IE9 SVG bug */
svg:not(:root) {
  overflow: hidden;
}
/*--- container ---*/
.container {
  width: 100%;
  max-width: 1170px;
}

.no-padding {
  padding-right: 0;
  padding-left: 0;
}

.no-margin {
  margin-right: 0;
  margin-left: 0;
}
/*---main navigation---*/
@keyframes fade {
  0% {
    top: -100px;
    opacity: 0;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}

.sticky-top {
  animation: fade 1s;
}

.navbar {
  @include transition($global-transition);
  z-index: 99;
  height: 5.5rem;
  padding: 0;
  font-family: $caption-font-family;
  font-size: $type-size-8;
  font-weight: bold;
  background: $grey-color;
  @include media-breakpoint-up (md) {
    height: 8.375rem;
  }
  @media(min-width: 1300px) {
    font-size: $type-size-7;
  }

  &.home-nav {
    background: $grey-color;

    .navbar-toggler {
      background-color: transparent !important;
    }
  }

  .navbar-brand {
    //position: absolute;
    right: 0;
    left: 0;
    z-index: 11;
    max-width: 110px;
    margin: 1rem;
    @include media-breakpoint-up (sm) {
      max-width: 130px;
    }
    @include media-breakpoint-up (lg) {
      max-width: 150px;
      margin: 2rem 0.6rem;
    }
    @media (min-width: 1040px) {
      max-width: 150px;
      margin: 2rem 1rem;
    }
    @media (min-width: 1280px) {
      z-index: 1;
      max-width: 180px;
      margin: 2.4rem 1.5rem;
    }
    @media (min-width: 1556px) {
      z-index: 1;
      max-width: 260px;
      margin: 2.4rem 4rem;
    }

    img {
      width: 100%;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-crisp-edges;
      image-rendering: crisp-edges;
      -ms-interpolation-mode: nearest-neighbor;
    }
  }

  .navbar-collapse {
    z-index: 10;
    padding-left: 0;
    background: $grey-color;
    @include media-breakpoint-up (lg) {
      //padding-left: 9.3rem;
    }
    @include media-breakpoint-up (xl) {
      //padding-left: 11.3rem;
    }

    ul {
      // display: inherit;
      padding-bottom: 2rem;
      @include media-breakpoint-down (md) {
        overflow-y: scroll;
      }
      @include media-breakpoint-up (lg) {
        padding-top: 0;
        padding-bottom: 0;
      }

      li {
        @include media-breakpoint-up (lg) {
          display: inline-block;
        }

        a {
          position: relative;
          padding: 1.6rem 0.96rem;
          color: $white !important;
          text-align: center;
          text-transform: uppercase;
          letter-spacing: 0.14rem;
          @include media-breakpoint-up (lg) {
            padding: 3.6rem 0.56rem;
            font-size: 8px;
          }
          @media (min-width: 1040px) {
            font-size: 9px;
          }
          @include media-breakpoint-up (xl) {
            padding: 3.6rem 0.96rem;
            font-size: 9.2px;
          }
          @media (min-width: 1240px) {
            font-size: 10px;
          }
          @media (min-width: 1395px) {
            font-size: 12px;
          }

          &:before {
            content: '';
            @include transition($global-transition);
            top: 50px;
            right: 0;
            bottom: auto;
            left: 0;
            width: 40px;
            height: 3px;
            margin: 0 auto;
            content: '';
            position: absolute;
            background-color: $white;
            opacity: 0;
            @include media-breakpoint-up (lg) {
              top: -40px;
              width: 3px;
              height: 40px;
            }
          }

          &:hover {
            &:before {
              top: 40px;
              opacity: 1;
              @include media-breakpoint-up (lg) {
                top: 0;
              }
            }
          }
        }

        &.active {
          a {
            &:before {
              top: 40px;
              opacity: 1;
              @include media-breakpoint-up (lg) {
                top: 0;
              }
            }
          }
        }
      }
    }
  }

  .btn-black {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    z-index: 99;
    background-color: $secondary-color;
    @include media-breakpoint-up (md) {
      top: 2.5rem;
      right: 1.5rem;
    }
    @include media-breakpoint-up (lg) {
      top: 2.5rem;
      right: .5rem;
      padding: 15px;
    }
    @include media-breakpoint-up (xl) {
      position: static;
      width: 250px;
      margin: 0 30px 0 0;
      padding: 1rem 2.7rem;
      text-align: center;
    }
    @media (min-width: 1520px) {
      top: 2.5rem;
      right: 3.8rem;
    }
  }
}

.navbar-toggler {
  right: 118px;
  left: auto;
  z-index: 11;
  width: 5rem;
  height: 5.5rem;
  cursor: pointer;
  background-color: $body-color;
  border: 0;
  border-radius: 0;
  @include media-breakpoint-up (md) {
    right: 190px;
    height: 8rem;
  }
  @include media-breakpoint-up (lg) {
    right: auto;
    left: 0;
    width: 9rem;
    height: 8.375rem;
  }

  &:focus {
    outline: none !important;
  }

  .close-toggle {
    display: inline;
    margin: 0 auto;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;
    opacity: 1;
    @include transition($global-transition);

    &::after,
    &::before {
      position: absolute;
      top: 50%;
      right: 0;
      left: 0;
      width: 1.1em;
      height: 2px;
      margin: 0 auto;
      margin-top: -2px;
      content: '';
      background: $primary-color;
    }

    &::before {
      @include transform(rotate(45deg));
    }

    &::after {
      @include transform(rotate(-45deg));
    }
  }
}

.navbar-toggler.collapsed > .close-toggle,
.navbar-toggler:not(.collapsed) > .navbar-toggler-icon {
  opacity: 0;
  @include transition($global-transition);
}
//buttons
.btn-black {
  color: $white;
  font-family: $caption-font-family;
  background-color: $heading-color;
  padding: 0.8rem 1rem;
  text-transform: uppercase;
  letter-spacing: 0.13rem;
  text-decoration: none;
  @include transition($global-transition);
  @include media-breakpoint-up (md) {
    padding: 1rem 2.7rem;
  }

  &:hover {
    color: $heading-color;
    text-decoration: none;
    background-color: $white;
  }
}

.btn-outline {
  font-family: $caption-font-family;
  border: 3px solid $white;
  text-transform: uppercase;
  color: $black;
  font-weight: bold;
  background-color: $white;
  font-size: 0.750rem;
  letter-spacing: 0.10rem;
  display: inline-block;
  height: 42px;
  padding: 1rem 1.562rem;
  line-height: normal;
  transition: $global-transition;
  text-align: center;
  @include media-breakpoint-up (lg) {
    height: 50px;
  }

  &:hover {
    color: $white;
    text-decoration: none;
    background-color: transparent;
  }
}

.btn-outline-grey {
  @extend .btn-outline;
  color: $dark-primary;
  background-color: transparent;
  border-color: $dark-primary;

  &:hover {
    background-color: $dark-primary;
  }
}

.btn-outline-black {
  @extend .btn-outline;
  color: $white;
  background-color: transparent;
  border-color: $white;

  &:hover {
    background-color: $heading-color;
    border-color: $heading-color;
  }
}

.btn-fill {
  @extend .btn-outline;
  background-color: $heading-color;
  border-color: $heading-color;

  &:hover {
    background-color: $body-color;
    border-color: $body-color;
  }
}

.btn-holder {
  padding: 1.625em 0 0;
}
//icons royalton
.eligant-icons {
  font-family: $eliganticon;

  &.control-arrow {
    display: inline-block;
    font-size: 1.438rem;
  }
}

#heroSlider {
  .control-arrow {
    font-size: 2rem;
  }
}
//spacer
.top-space {
  margin-top: ($spacer * 3.125); //50px
}

.top-padding {
  padding-top: ($spacer * 2) !important; //50px
  @include media-breakpoint-up(md) {
    padding-top: ($spacer * 3.125) !important; //50px
  }
}

.bottom-padding {
  padding-bottom: ($spacer * 2) !important; //50px
  @include media-breakpoint-up(md) {
    padding-bottom: ($spacer * 3.125) !important; //50px
  }
}

.left-padding {
  padding-left: ($spacer * 4) !important;
}

.right-padding {
  padding-right: ($spacer * 4) !important;
}
// orange borders
.border-left {
  @include media-breakpoint-up (md) {
    border-left: 8px solid $secondary-color;
  }
}

.border-right {
  @include media-breakpoint-up (md) {
    border-right: 8px solid $secondary-color;
  }
}

.sr-no {
  //for serial number and border
  position: relative;
  margin-bottom: 1.1rem;
  padding-bottom: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;

  &:after {
    @include decoration(49px, 3px, $white, auto, auto, 0, 0);
  }
}

.owl-arrow-prev {
  text-align: center;
  cursor: pointer;
}

.owl-arrow-next {
  @extend .owl-arrow-prev;
}
//light grey background
.bg-l-grey {
  background-color: $grey-color;
}

.bg-white {
  background-color: $white !important;
}

.bg-lightest {
  background-color: $lightest-gray !important;
}
//counter
.counter {
  font-family: $header-font-family;
  font-size: $type-size-1;
  line-height: 9.375rem;
  text-align: right;
  margin: 0;
  padding-right: 4.375rem;
}

.black-text {
  a,
  h2,
  h3,
  h4,
  p,
  table {
    color: $body-color !important;
  }

  h4 {
    &:after {
      background-color: $body-color;
    }
  }
}

.banner-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  background-color: $black-transparent;
}

.agree {
  display: inline-block;
  margin-top: 15px;
  text-align: left;

  input [type='checkbox'] {
    width: inherit;
    min-width: 0 !important;
    height: auto;
    margin: 6px 0;
    opacity: inherit;
  }

  .form-check-label {
    display: inline-block;
    font-family: $caption-font-family;
    font-size: 12px;
  }

  a {
    color: $primary-color;
    text-decoration: underline;

    &.black {
      color: $black;
    }
  }
}
