@font-face { 
        font-family: 'ElegantIcons';
        src: url('/assets/fonts/elegant-font-icon/eleganticons-webfont.eot');
        src: url('/assets/fonts/eleganticons-webfont.eot?#iefix') format('embedded-opentype'),  
        url('/assets/fonts/eleganticons-webfont.woff') format('woff'),  
        url('/assets/fonts/ElegantIcons.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
}
@font-face {
    font-family: 'fugue-mono';
    src: url('/assets/fonts/fugue_mono.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Ogg Roman';
    src: url('/assets/fonts/OggRoman-Regular.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}