/*
Navigation Elements
========================================================================== */
.navbar-toggler-left {
	position: absolute;
}

ul {
  &.dropdown-menu {
    min-width: 7rem;
    color: $white;
    text-align: center;
    background-color: $grey-color;
    @include media-breakpoint-down (md) {
      padding-bottom: 0 !important;
      overflow-y: hidden !important;
      font-size: 9.2px;
      color: $white;
      text-align: center;
      background-color: $grey-color;
      border: none;
		}

    li {
      a {
        padding: 0.9rem 0.96rem !important;

        &:before {
          display: none;
				}
			}
		}
	}
}
