//Special Banner Bar SCSS
//============================================================================

.special-banner-bar {
  max-width: 100%;
  margin: 2px auto;
  padding: 8px 0;
  text-align: center;
  background-color: $secondary-color;

  h2 {
    display: inline-block;
    margin-bottom: 0;
    font-size: 1.5rem;
    color: $background-color;
    @include media-breakpoint-down(sm) {
      margin-top: 10px;
    }
  }

  a {
    height: auto;
    margin: 0 10px;
    text-decoration: none;
    background-color: $body-color;

    &:hover {
      border-color: $background-color;
    }
    @include media-breakpoint-down(md) {
      margin: 10px 0;
    }
  }
}
