<form action="https://submit.jotform.me/submit/{{ site.data.forms.jotform.rfp-id }}/" method="post" name="form_{{ site.data.forms.jotform.rfp-id }}" id="{{ site.data.forms.jotform.rfp-id }}"
    accept-charset="utf-8" autocomplete="off">
    <input type="hidden" name="formID" value="{{ site.data.forms.jotform.rfp-id }}">
    <label>Name*</label>
    <input type="text" name="q3_name" placeholder="" required>
    <label>Email*</label>
    <input type="email" name="q4_email" placeholder="" required>
    <label>Phone Number *</label>
    <input type="tel" name="q5_phone" placeholder="" required>
    <label>Organization</label>
    <input type="text" name="q6_organization" placeholder="">

    <h6>TYPE OF EVENT:</h6>
    <label><input type="checkbox" name="q9_typeOf[]" value="Meeting">Meeting</label>
    <label><input type="checkbox" name="q9_typeOf[]" value="Banquet">Banquet</label>
    <label><input type="checkbox" name="q9_typeOf[]" value="Team Outing">Team Outing</label>
    <label><input type="checkbox" name="q9_typeOf[]" value="Hotel">Hotel</label>
    <label><input type="checkbox" name="q9_typeOf[]" value="Wedding">Wedding</label>
    <label><input type="checkbox" name="q9_typeOf[]" value="Other">Other</label>

    <label>Event Date</label>
    <input type="text" name="q8_eventDate" placeholder="">

    <label>Tell Us About Your Event*</label>
    <textarea cols="40" rows="5" name="q7_tellUs" placeholder="" required></textarea>
    <button type="submit" aria-label="Send">SEND</button>
    <input type="hidden" name="simple_spc" value="{{ site.data.forms.jotform.rfp-id }}">

    <script type="text/javascript">
        document.getElementById("si" + "mple" + "_spc").value = "{{ site.data.forms.jotform.rfp-id }}-{{ site.data.forms.jotform.rfp-id }}";
    </script>
</form>
